body {
    font-family: 'IBM Plex Sans', sans-serif;
  }

h1 {
    color: darkred;
    font-size: 96px;
}

h2 {
    color: royalblue;
}
a:link {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: darkred;
    background-color: transparent;
    text-decoration: noen;
  }
  a:active {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
  }